<div class="row">
    <h1>New trip</h1>

<%= render 'form' %>

</div>
<br>
<div class="row">
<% if @pending.nil? %>
<p>You have a message pending to import. <%= link_to "Import it", import_email_path %> or <%= link_to "delete it", delete_email_path %></p>
<% else %>
<!--p>You can import automatically sending the confirmation email to <b>trips<%= current_user.authentication_token %>@in.whendoigo.co.uk</b></p-->
<% end %>
</div>

<% content_for :title do %>
New trip
<% end %>
