   <div class="row">
      <div class="col-md-4">
        <%= image_tag "gonzalo2.jpg", :class=>"img-thumbnail", :alt=>"Gonzalo's picture" %>
      </div>
      <div class="col-md-8">
        <h1>About</h1>
        <p>Hi. My name is Gonzalo Fernandez-Victorio. I'm a <a href="http://careers.stackoverflow.com/gonfva">software developer</a> living in London.</p>
        <p>I started developing this site because I needed to manage my trips and at that time I couldn't find any similar application. It turns out
          there is at least one application called <a href="https://www.tripit.com/">Tripit</a> that does some of the ideas I had in mind.</p>
        <p>But I use the site for my own trips. And I think I can provide a different approach, and I can really improve it. </p>
        <p>If you would like to use the site and provide any comments, bug reports or suggestions, you're very welcome, either using User Voice (icon
          bottom right) or by email to admin at whendoigo.co.uk</p>
      </div>
   </div><!-- row -->
