<h1>Terms and conditions</h1>

<p>We are going to do our best to keep the service up and running. But this is a free service, and in we are in the beta period. So there is no guarantee implicit or explicit. In particular, by using this site, you agree: </p>
<ul><li>We can close this site overnight (but we will try to give as much notice as possible).</li>
<li>We can change its price (but we would give you a reasonable period to export your data and leave the site).</li>
<li>We can lose all or part of your data.</li>
<li>If you choose to export to Tripit, we could screw up your data over there (but we'll do our best to avoid it).</li>
<li>This site has not affiliation with Heroku, TripIt, Mandrill or any other brand. Those brands are or could be registered by its owners.</li>
<li>We use cookies to keep the site running. And we also keep cookies to help us understand how you use the site.</li>
</ul>
<p>That's it. Short and sweet.</p>
